* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #181c1f;
}

.container {
  position: relative;
  height: 400px;
  border-bottom: 2px solid #fff;
}

.cloud {
  position: relative;
  top: 100px;
  width: 320px;
  height: 100px;
  background: #fff;
  border-radius: 100px;
}

.cloud::before {
  content: "";
  position: absolute;
  width: 110px;
  top: -50px;
  left: 40px;
  height: 110px;
  background-color: #fff;
  border-radius: 50%;
  box-shadow: 90px 0 0 30px #fff;
}

.rain {
  position: relative;
  display: flex;
  z-index: 1;
  padding: 0 20px;
}

.rain span {
  position: relative;
  width: 10px;
  height: 10px;
  background: #fff;
  margin: 0 2px;
  border-radius: 50%;
  bottom: 10px;
  animation: animate 5s linear infinite;
  transform-origin: bottom;
  animation-duration: calc(15s / var(--i));
  transform: translateY(40px);
}

@keyframes animate {
  0% {
    transform: translateY(40px) scale(1);
  }
  70% {
    transform: translateY(300px) scale(1);
  }
  100% {
    transform: translateY(300px) scale(0);
  }
}
