@import url("https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,700,800,900");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #000;
}

.content {
  position: relative;
}

.content h2 {
  position: absolute;
  /* color: #fff; */
  transform: translate(-50%, -50%);
  font-size: 8rem;
}

.content h2:nth-child(1) {
  color: transparent;
  -webkit-text-stroke: 2px #03a9f4;
}

.content h2:nth-child(2) {
  color: #03a9f4;
  animation: animate 4s ease-in-out infinite;
}

@keyframes animate {
  0%,
  100% {
    clip-path: polygon(
      0 34%,
      21% 33%,
      30% 48%,
      40% 60%,
      55% 63%,
      78% 63%,
      100% 51%,
      100% 100%,
      0 100%
    );
  }
  50% {
    clip-path: polygon(
      0 54%,
      20% 61%,
      38% 60%,
      58% 61%,
      73% 56%,
      83% 47%,
      100% 39%,
      100% 100%,
      0 100%
    );
  }
}
